<!doctype html>
{% load bootstrap5 %}
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block customcss %}
    {% endblock customcss %}

    <title>Money Manager</title>
  </head>
  <body class="text-center">

    {% block header %}
    {% endblock header %}
    {% block content %}
    {% endblock content %}

  </body>
</html>